In [2]:
print(len(1234))

TypeError: object of type 'int' has no len()

In [7]:
#Datatypes - string, integer,float and boolean
#strings

"Hello"[0] #first character of the string.Prints out the first index position that is H

print("Hello"[4])  #4 or -1

o

In [8]:
"123"+"456" #string concatenation beacuse of strings instead of  numericaloperation

'123456'

In [9]:
#to delcare integer
print(123+123)

246

In [12]:
#large numbers are the numbers with comma, in python it is done by underscore

#float

3.14

3.14

In [13]:
#boolean - 2 possible values - true or false
True 
False

False

In [14]:
len(123)  #Typeerror - integer data type don't have length function

TypeError: object of type 'int' has no len()

In [15]:
#type function check the type of data 

type("Hello")

str

In [16]:
type(1)

int

In [17]:
type(3.14)

float

In [18]:
type(True)

bool

In [19]:
#type casting - we change piece of data from one type to another type
num_char = len(input("Enter the name : "))

length = str(num_char)

print("Your name has {} characters".format(length))

Enter the name : Renuka
Your name has 6 characters

In [22]:
#code challenge 1

# where 2 digit number will be taken as input and outputs the sum of those 2 digit number

two_digit_number = input("Enter the two digit number")
print(int(two_digit_number[0]) + int(two_digit_number[1]))

Enter the two digit number23
5

In [23]:
#Mathematical operations
#addition
print(3+2)
#subtraction 
print(3-2)
#multiplication
print(3*2)
#division
print(3/2)
#power/exponential
print(3**2)

#PEMDAS - order of priority

5
1
6
1.5
9

In [27]:
#BMI Calculator
Height = input("enter your height in m : ")
Weight = input("enter your weight on kg: ")

BMI = float(Weight)/float(Height)**2
print(BMI)
print("Your BMI is {}".format(int(BMI)))

enter your height in m : 1.75
enter your weight on kg: 80
26.122448979591837
Your BMI is 26

In [31]:
#rounding digits
print(round(8/3))
print(round(8/3,1))
print(round(8/3,2))

3
2.7
2.67

In [32]:
#f strings

Name = "Renuka"
country = "India"
print(f"Hi ! My name is {Name} and I am from {country}")

Hi ! My name is Renuka and I am from India

In [1]:
#Day 2 Project

print("Welcome to the tip calculator")
total_bill = input("what was the total bill? $")
percentage_tip = int(input("what percentage of tip would you like to give ? 10,12 or 15 ? "))
total_people = int(input("How many people to split the bill? "))

percentage_of_total  = float(total_bill)*(percentage_tip/100)

total_percentage = float(total_bill)+percentage_of_total

each_pay = total_percentage/total_people

print("each person should pay : ${}".format(round(each_pay,2)))

Welcome to the tip calculator
what was the total bill? $124.56
what percentage of tip would you like to give ? 10,12 or 15 ? 12
How many people to split the bill? 7
each person should pay : $19.93